3.0/work/dev/sportsml-specific-alpineskiing.xsd

<?xml version="1.0"?>
<!--
IPTC - International Press Telecommunications Council
20 Garrick Street, London WC2E 9BT, United Kingdom
www.iptc.org

See sportsml.xsd to view Non-Exclusive License Agreement for 
International Press Telecommunications Council, which
applies to this specification.
-->

<!-- ========================================================================================= -->
<!--        SportsML Alpine Skiing plugin               -->	
<!-- ========================================================================================= -->	

<xs:schema xmlns="http://iptc.org/std/nar/2006-10-01/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="3.0">
		
	<!-- ========================================================================================= -->
	<!--        American Fotball metadata complex types               -->	
	<!-- ========================================================================================= -->	
	
	<xs:complexType name="alpineSkiingEventMetadataComplexType">
			<xs:annotation>
				<xs:documentation>An element holding sport-specific metadata about a alpine skiing race.</xs:documentation>
			</xs:annotation>
		<xs:sequence>
			<xs:element ref="course-gates" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="course-gates-pattern" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="commonAttributes"/>
			<xs:attribute name="course_name" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Course name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="homologation_number" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Homologation number, example: 4368/46/95</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="coord_start" type="GeoCoordinatesType" use="optional">
				<xs:annotation>
					<xs:documentation>The coordinates of the course start location</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="coord_finish" type="GeoCoordinatesType" use="optional">
				<xs:annotation>
					<xs:documentation>The coordinates of the course finish location</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="altitude_start" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Start point expressed in meters above sea level</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="altitude_finish" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Finish point expressed in meters above sea level</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="altitude_drop" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Vertical drop expressed in meters</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="length" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Course length expressed in meters</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="gradient_max" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Maximum gradient</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="gradient_min" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Minimum gradient</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="gradient_avg" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Average gradient</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="number_gates" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Number of gates</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="turning_gates" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Number of turning gates</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>

	<!-- ========================================================================================= -->
	<!--        Alpine Skiing Stats complex types               -->	
	<!-- ========================================================================================= -->	

		<xs:complexType name="alpineSkiingSiteStatsComplexType"><!-- this information is send with the result from each athlete -->
		<!-- I've seen that in  site-stats there alread is a temperature and temperature-units defined-->
		<!-- I've seen that in  site-stats there alread is a wind defined, but I didn's see any example hot it is specified-->
			<xs:attribute name="temperature-start" type="xs:double" use="optional"/>
			<xs:attribute name="temperature-start-units" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Units used to specify the temperature at the start gate. (celcius or farenheid)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="temperature-finish" type="xs:double" use="optional"/>
			<xs:attribute name="temperature-finish-units" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Units used to specify the temperature at the finish gate. (celcius or farenheid)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="weather-wind-start" type="sportml:winddirections.AlpineSkiing.Vocabulary" use="optional">
				<xs:annotation>
					<xs:documentation>Direction of the wind at the start gate.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="weather-wind-speed-start" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>Speed of the wind at the finish gate.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="weather-wind-speed-start-units" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Units used to specify the speed of the wind at the finish gate. (m/s or km/h)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="weather-wind-finish" type="sportml:winddirections.AlpineSkiing.Vocabulary" use="optional">
				<xs:annotation>
					<xs:documentation>Direction of the wind at the finish gate.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="weather-wind-speed-finish" type="xs:double" use="optional"/>
			<xs:attribute name="weather-wind-speed-finish-units" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Units used to specify the speed of the wind at the finish gate. (m/s or km/h)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="snow-temperature" type="xs:double" use="optional"/>
			<xs:attribute name="snow-temperature-units" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Units used to specify the speed of the wind at the finish gate. (m/s or km/h)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="snow-condition" type="sportml:snowcondition.AlpineSkiing.Vocabulary" use="optional">
				<xs:annotation>
					<xs:documentation>Condition of the snow (compact, soft, granular, etc.).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="f-factor" type="xs:integer" use="optional"/>
		</xs:complexType>
	


		
		<xs:complexType name="courseGatesComplexType">
			<xs:annotation>
				<xs:documentation>Description of indiviidual gate in alpine skiing.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="xxxxx" minOccurs="0" maxOccurs="4">
					<xs:attribute name="pole-position" type="GeoCoordinatesType" use="optional">
						<xs:annotation>
							<xs:documentation>Position of the pole</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="gate-number" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>gate number, the gates should be numbered from top to bottom of the course. Start and finish are not counted</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="pole_type" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Flex or Rigid</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="color" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Read or Blue</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="width" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Gate width in meters</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="gate-type" type="gatetype.AlpineSkiing" use="optional">
				<xs:annotation>
					<xs:documentation>If the stats cover a specific shot-type.</xs:documentation>
				</xs:annotation>
			</xs:attribute>				   
			
 		</xs:complexType>

		<xs:complexType name="courseGatesPatternComplexType">
			<xs:annotation>
				<xs:documentation>Description of sequence of gate pattern configured in the course.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
			<xs:element name="invovled-gates-in-pattern" ref="course-gates" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="gate-pattern-type" type="pattern.AlpineSkiing" use="optional">
				<xs:annotation>
					<xs:documentation>If the stats cover a specific shot-type.</xs:documentation>
				</xs:annotation>
			</xs:attribute>	
		</xs:complexType>
	
		<xs:complexType name="alpineSkiingPlayerStatsComplexType">
			<xs:annotation>
				<xs:documentation>Holds alpine skiing-specific stats for certain runner.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="player-stats-alpineskiing-final-result" minOccurs="0" maxOccurs="1" type="player-stats-alpineskiing-result-type"/>
				<xs:element name="player-stats-alpineskiing-intermediate" minOccurs="0" maxOccurs="unbounded" type="player-stats-alpineskiing-result-type"/>
				<xs:element name="player-stats-alpineskiing-sector" minOccurs="0" maxOccurs="unbounded" type="player-stats-alpineskiing-result-type"/>
			</xs:sequence>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attribute name="bib" type="xs:decimal" use="required">
				<xs:annotation>
					<xs:documentation>Bib number</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="run-status" type="runningStatus.AlpineSkiing" use="optional"/>
		</xs:complexType>

	
		<xs:complexType name="alpineSkiingPlayerStatsResultTypeComplexType">
			<xs:sequence>
				<xs:element name="rank" type="xs:string"/>
				<xs:element name="time" type="xs:string"/>
				<xs:element name="diff" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="position"  type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Position number where the information is measured, </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rank"  type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Position number where the information is measured, </xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>

</xs:schema>
