specification/sportsml-specific-ice-hockey.xsd

<?xml version="1.0"?>
<!--
IPTC - International Press Telecommunications Council
25 Southampton Buildings, London WC2A 1AL, United Kingdom
www.iptc.org
This document is published under the Creative Commons Attribution 4.0 license - see the full license agreement at http://creativecommons.org/licenses/by/4.0/. 
By obtaining, using and/or copying this document, you (the licensee) agree that you have read, understood, and will comply with the terms and conditions of the license.
		
-->

<!-- ========================================================================================= -->
<!--        SportsML Ice Hockey plugin               -->	
<!-- ========================================================================================= -->	

<xs:schema 
	xmlns="http://iptc.org/std/nar/2006-10-01/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="3.1">
	
	<!-- ========================================================================================= -->
	<!--        IceHockey metadata complex types               -->	
	<!-- ========================================================================================= -->	

		<xs:complexType name="iceHockeyEventMetadataComplexType">
			<xs:annotation>
				<xs:documentation>Metadata about the event itself. | Specific to ice-hockey.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="eventStateIceHockey"/>
		</xs:complexType>
	
		<xs:complexType name="iceHockeyPlayerMetadataComplexType">
			<xs:annotation>
				<xs:documentation>Metadata for a player. | Specific to ice-hockey. </xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attribute name="shooting-hand" type="bodySideList" use="optional">
				<xs:annotation>
					<xs:documentation>The side from which a player normally shoots.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="catching-hand" type="bodySideList" use="optional">
				<xs:annotation>
					<xs:documentation>The hand with which a player, generally a goaltender, catches the puck.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
	<!-- ========================================================================================= -->
	<!--        IceHockey Stats complex types               -->	
	<!-- ========================================================================================= -->	

		<xs:complexType name="iceHockeyTeamStatsComplexType">
			<xs:annotation>
				<xs:documentation>Stats about one team. | Specific to ice-hockey.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseIceHockeyStatsComplexType">
					
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	
		<xs:complexType name="iceHockeyPlayerStatsComplexType">
			<xs:annotation>
				<xs:documentation>Stats for a player specific to ice-hockey. | Includes the same offensive and defensive stats available for a team.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseIceHockeyStatsComplexType">
					<xs:attribute name="minutes-played" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>Number of minutes player was on ice.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	
	<xs:complexType name="baseIceHockeyStatsComplexType">
		<xs:annotation>
			<xs:documentation>Stats for a player specific to ice-hockey. | Includes the same offensive and defensive stats available for a team.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="stats-ice-hockey-offensive" type="iceHockeyStatsOffensiveComplexType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="stats-ice-hockey-defensive" type="iceHockeyStatsDefensiveComplexType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="stats-ice-hockey-faceoffs" type="iceHockeyStatsFaceoffsComplexType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="stats-ice-hockey-time-on-ice" type="iceHockeyStatsTimeOnIceComplexType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="commonAttributes"/>
		<xs:attributeGroup ref="coverageAttributes"/>
		<xs:attribute name="plus-minus" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Number of times team/player was on ice when own team scored minus the number of times team/player was on ice when opponent scored.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="plus-total" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Number of team/times player was on ice when own team scored.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="minus-total" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Number of times tteam/player was on ice when opponent scored.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="penalty-minutes" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Total number of penalty minutes accrued by a single player or team.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	

		<xs:complexType name="iceHockeyStatsOffensiveComplexType">
			<xs:annotation>
				<xs:documentation>Offensive stats for one team. | Specific to ice-hockey, including stats on shots, goals, and faceoffs.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attributeGroup ref="commonPropertiesIceHockey"/>
			<xs:attribute name="goals-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of goals by the team. Could differ from the score if score-points are awarded for shootout, for example.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-game-winning" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals that provided the winning margin in a game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-game-tying" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals that caused the game to be tied.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-power-play" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals scored while the team was having a power-play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-short-handed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals scored while the team was playing short-handed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-even-strength" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals scored while the teams were at even strength.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-empty-net" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals scored on an empty goal, with the opposing goalie pulled from the net.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-overtime" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals scored during overtime.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-shootout" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals scored during a shootout.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-shootout-attempts" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals attempted during a shootout.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-penalty-shot" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals scored as penalty shots.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average of goals scored per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="assists" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of assists.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="assists-power-play" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of assists made during a power play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="assists-short-handed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of assists made while short-handed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="assists-game-winning" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Assists on goals that provided the winning margin in a game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="assists-game-tying" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Assists on goals that caused the game to be tied.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="assists-overtime" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Assists on goals scored during overtime.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of points, with a score and an assist generally counted as one point each.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-power-play" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of points during power plays, with a score and an assist generally counted as one point each.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-short-handed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of points while short-handed, with a score and an assist generally counted as one point each.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="power-play-amount" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of power-play opportunities a team has had.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="power-play-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Measure of success at power plays. Figured by dividing goals-power-play by power-play-amount.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-penalty-shot-taken" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of penalty shots taken by a shooting player.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-penalty-shot-missed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of penalty shots missed by a shooting player.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-penalty-shot-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Percentage of penalty shots that resulted in goals.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="giveaways" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of times that passes were attempted but intercepted. A judgment call whose exact conditions vary.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="minutes-power-play" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of minutes played in a power-play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="scoring-chances" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of qualified chances to score.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="hat-tricks" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of hat-trick games.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-missed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of shots missed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shot-attempts-blocked" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of shots taken which were blocked by an opponent. </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-even-strength" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of shots taken at even strength.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-power-play" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of shots taken on power play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-short-handed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of shots taken while short-handed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
		<xs:complexType name="iceHockeyStatsDefensiveComplexType">
			<xs:annotation>
				<xs:documentation>Defensive stats for the team. | Specific to ice-hockey, including saves and shots allowed.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attributeGroup ref="commonPropertiesIceHockey"/>
			<xs:attribute name="shots-power-play-allowed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of shots on goal allowed during power-play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-penalty-shot-allowed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of shots allowed as penalty-shots.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-power-play-allowed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of goals allowed while the opposing team has a power-play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-penalty-shot-allowed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of goals allowed as penalty-shots.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-empty-net-allowed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of goals allowed while the net was empty.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-short-handed-allowed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of goals allowed while playing short-handed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-against-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of goals against for the given period. Could differ from the score if score-points are deducted for some reason.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-against-average" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of goals per game allowed by the team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="saves" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of saves.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="save-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Percentage of saves compared to total number of shots.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-shootout-allowed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of shootout goals that went in for a score for the opposing team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-shootout-allowed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of shootout shots that were attempted by the opposing team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-killing-amount" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of penalty-killing sessions, aka number of short-handed sessions.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-killing-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Equals goals-penalty-allowed divided by penalty-killing-amount.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-blocked" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of shots that were blocked. This statistic is generally tracked for non-goalies.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="takeaways" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of intercepted passes. A judgment call whose exact conditions vary.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shutouts" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of games where the opposing team did not score.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="minutes-penalty-killing" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of minutes played short-handed, while the other team had a power-play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="hits" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of body checks made against an opposing player.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goaltender-wins" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of games with this goaltender.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goaltender-losses" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of games lost with this goaltender.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goaltender-ties" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of games tied with this goaltender.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goaltender-wins-overtime" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of games won while play is in overtime.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goaltender-losses-overtime" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of games lost while play is in overtime.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
		<xs:complexType name="iceHockeyStatsFaceoffsComplexType">
			<xs:annotation>
				<xs:documentation>Defensive stats for the team. | Specific to ice-hockey, including saves and shots allowed.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attributeGroup ref="commonPropertiesIceHockey"/>
			<xs:attribute name="faceoffs-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of faceoffs taken.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoff-wins" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of won faceoffs.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoff-losses" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of lost faceoffs.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoff-win-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Percentage of faceoffs that were won.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoffs-even-strength-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of faceoffs taken at even strength.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoffs-even-strength-wins" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of faceoffs won at even strength.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoffs-even-strength-losses" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of faceoffs lost at even strength.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoffs-even-strength-win-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Percentage of faceoffs won at even strength.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoffs-power-play-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of faceoffs taken on power play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoffs-power-play-wins" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of faceoffs won on power play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoffs-power-play-losses" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of faceoffs lost on power play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoffs-power-play-win-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Percentage of faceoffs won on power play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoffs-short-handed-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of faceoffs taken while short-handed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoffs-short-handed-wins" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of faceoffs won while short-handed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoffs-short-handed-losses" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of faceoffs lost while short-handed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="faceoffs-short-handed-win-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Percentage of faceoffs won while short-handed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
		<xs:complexType name="iceHockeyStatsTimeOnIceComplexType">
			<xs:annotation>
				<xs:documentation>Defensive stats for the team. | Specific to ice-hockey, including saves and shots allowed.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attributeGroup ref="commonPropertiesIceHockey"/>
			<xs:attribute name="shifts" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of shifts played.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shifts-power-play" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of power-play shifts played.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shifts-short-handed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of short-handed shifts played.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shifts-average" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of shifts played.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="time-average-per-shift" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average amount of time played per shift.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="time-average-even-strength" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average amount of time played at even strength.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="time-average-short-handed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average amount of time played short-handed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="time-average-power-play" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average amount of time played on power play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="time-power-play" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Amount of time played on power play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="time-short-handed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Amount of time played short-handed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="time-even-strength" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Amount of time played at even strength.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="time-empty-net" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Amount of time played with an empty net.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="time-power-play-empty-net" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Amount of time played on power play with empty net.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="time-short-handed-empty-net" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Amount of time played short-handed with empty net.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="time-even-strength-empty-net" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Amount of time played even strength with empty net.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
	<!-- ========================================================================================= -->
	<!--        IceHockey attribute groups complex types               -->	
	<!-- ========================================================================================= -->	

	<xs:attributeGroup name="eventStateIceHockey">
		<xs:attribute name="power-play-time-remaining" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The time remaining in the power-play.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="power-play-team-idref" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The key of the team on power-play.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="power-play-player-advantage" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The number of extra players on ice for the team on power play.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="score-team" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>After an action has taken place, the score of the team that team-idref points to.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="score-team-opposing" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>After an action has taken place, the score of the team opposing that listed in team-idref.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="commonPropertiesIceHockey">
		<xs:attribute name="player-count" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Number of players on the ice for the stat or action.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="player-count-opposing" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Number of opposing players on the ice for the stat or action.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="zone" use="optional">
			<xs:annotation>
				<xs:documentation>The zone on the rink for the stat or action: offensive | defensive | neutral.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="offensive"/>
					<xs:enumeration value="defensive"/>
					<xs:enumeration value="neutral"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="location" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Location of the action on the rink.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

</xs:schema>
