specification/sportsml-specific-rugby.xsd

<?xml version="1.0"?>
<!--
IPTC - International Press Telecommunications Council
25 Southampton Buildings, London WC2A 1AL, United Kingdom
www.iptc.org
This document is published under the Creative Commons Attribution 4.0 license - see the full license agreement at http://creativecommons.org/licenses/by/4.0/. 
By obtaining, using and/or copying this document, you (the licensee) agree that you have read, understood, and will comply with the terms and conditions of the license.

-->

<!-- ========================================================================================= -->
<!--        SportsML Rugby plugin               -->	
<!-- ========================================================================================= -->	

<xs:schema xmlns="http://iptc.org/std/nar/2006-10-01/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="3.1">
	
	<!-- ========================================================================================= -->
	<!--        Rugby metadata complex types               -->	
	<!-- ========================================================================================= -->	

		<xs:complexType name="rugbyEventMetadataComplexType">
			<xs:annotation>
				<xs:documentation>Rugby-specific metadata for events. | Metadata that is specific to rugby for events.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="time-adjustment" type="rugbyTimeAdjustmentComplexType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="kick-off-team-idref" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Pointer to the team doing the kick-off for the period covered.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
		<xs:complexType name="rugbyTimeAdjustmentComplexType">
			<xs:annotation>
				<xs:documentation>Record time added by referee. | Holds values for the time added by the referee and how much extra time was actually played.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseTimeAdjustmentComplexType">
					<!--<xs:attributeGroup ref="eventStateRugby"/>-->
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	
		<xs:complexType name="rugbyTeamMetadataComplexType">
			<xs:annotation>
				<xs:documentation>Rugby specific metadata for one team. | The team-metadata that is specific for rugby and does not apply in all sports.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
		</xs:complexType>
	
	<!-- ========================================================================================= -->
	<!--        Soccer stats complex types               -->	
	<!-- ========================================================================================= -->	
	
		<xs:complexType name="rugbyPlayerStatsComplexType"> 
			<xs:annotation>
				<xs:documentation>Player statistics that are specific to rugby. | Rugby specific statistic information about a player.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseRugbyStatsComplexType">
					
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>

		<xs:complexType name="rugbyTeamStatsComplexType">
			<xs:annotation>
				<xs:documentation>Rugby specific stats for one team. | Team-stats that are specific to rugby and does not apply to all sports.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseRugbyStatsComplexType">
					
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	
	    <xs:complexType name="baseRugbyStatsComplexType">
	    	<xs:sequence>
	    		<xs:element name="stats-rugby-offensive" type="rugbyStatsOffensiveComplexType" minOccurs="0" maxOccurs="unbounded"/>
	    		<xs:element name="stats-rugby-defensive" type="rugbyStatsOffensiveComplexType" minOccurs="0" maxOccurs="unbounded"/>
	    		<xs:element name="stats-rugby-foul" type="rugbyStatsOffensiveComplexType" minOccurs="0" maxOccurs="unbounded"/>
	    	</xs:sequence>
	    	<xs:attributeGroup ref="commonAttributes"/>
	    	<xs:attributeGroup ref="coverageAttributes"/>
	    </xs:complexType>
	
		<xs:complexType name="rugbyStatsOffensiveComplexType">
			<xs:annotation>
				<xs:documentation>Offensive stats specific to rugby. | Offensive stats for one team, specific to rugby.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attribute name="tries-scored" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Tries scored.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="tries-scored-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of tries scored per match.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-tries-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Penalty tries awarded.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-tries-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of penalty tries awarded per match.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="drop-goal-attempts" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Drop goal attempts</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="drop-goals-scored" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Drop goals scored</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="drop-goals-scored-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average drop goals scored per match</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-goal-attempts" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Penalty goal attempts</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-goals-scored" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Penalty goals scored</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-goals-scored-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average penalty goals scored per match</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="conversion-attempts" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Conversion attempts</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="conversions-scored" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Conversions scored</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="conversions-scored-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average conversions scored per match</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="free-kicks-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of free kicks</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="free-kicks-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average free kicks per match</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="kicks-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of kicks</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="kicks-into-touch" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of kicks into touch</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="runs" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of runs</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="metres-gained" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of metres advanced in the match</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="scrums-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of scrums by team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="scrums-won-for" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of own scrums won.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="line-outs-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of line-outs by team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="line-outs-won-for" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of lineouts won on own put in</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rucks-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of rucks by team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rucks-won-for" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of rucks won where team brought the ball in</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mauls-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of mauls by team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mauls-won-for" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of own mauls won.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="handling-errors" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of handling errors</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="handling-errors-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average handling errors per match</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
		<xs:complexType name="rugbyStatsDefensiveComplexType">
			<xs:annotation>
				<xs:documentation>Defensive stats specific to rugby. | Defensive stats for one team, specific to rugby.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attribute name="tackles" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of tackles</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="tackles-missed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of tackles missed</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="scrums-won-against" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of scrums won on opponent's put in</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="line-outs-won-against" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of lineouts won on opponent's put in</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rucks-won-against" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of rucks won where opponent brought the ball in</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mauls-won-against" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of opposing teams's mauls won.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalties-conceded" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of penalties conceded to opposing team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalties-conceded-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of penalties conceded to opposing team</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
		<xs:complexType name="rugbyStatsFoulComplexType">
			<xs:annotation>
				<xs:documentation>Stats specific to fauls, cautions, and ejections. | Could occur while players are on the offense, the defense, or even the bench.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attribute name="cautions-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of cautions recieved.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="cautions-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of cautions recieved per match.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="cautions-pending" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of cautions that could result in a game suspension.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="caution-points-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total amount of caution points. Can occur over various games in a season.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="caution-points-pending" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of caution points that could result in a game suspension.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ejections-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of ejections.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ejections-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of ejections recieved per match.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
</xs:schema>
