3.0/specification/sportsml-specific-soccer.xsd

<?xml version="1.0"?>
<!--
IPTC - International Press Telecommunications Council
25 Southampton Buildings, London WC2A 1AL, United Kingdom
www.iptc.org
This document is published under the Creative Commons Attribution 4.0 license - see the full license agreement at http://creativecommons.org/licenses/by/4.0/. 
By obtaining, using and/or copying this document, you (the licensee) agree that you have read, understood, and will comply with the terms and conditions of the license.

	
-->

<!-- ========================================================================================= -->
<!--        SportsML Soccer plugin               -->	
<!-- ========================================================================================= -->	


<xs:schema 
	xmlns="http://iptc.org/std/nar/2006-10-01/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="3.0">
	
	<!-- ========================================================================================= -->
	<!--        Soccer metadata complex types               -->	
	<!-- ========================================================================================= -->	
	
	
	<xs:complexType name="soccerEventMetadataComplexType">
			<xs:annotation>
				<xs:documentation>Soccer-specific metadata for events. | Metadata that is specific to soccer for events.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="time-adjustment" type="soccerTimeAdjustmentComplexType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<!--<xs:attributeGroup ref="eventStateSoccer"/>-->
			<xs:attribute name="kick-off-team-idref" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Pointer to the team doing the kick-off for the period	covered.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="week" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The week during the season in which this game is	played.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
	<xs:complexType name="soccerTimeAdjustmentComplexType">
		<xs:annotation>
			<xs:documentation>Record time added by referee. | Holds values for the time added by the referee and how much extra time was actually played.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="baseTimeAdjustmentComplexType">
				<!--<xs:attributeGroup ref="eventStateSoccer"/>-->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
		
	<xs:complexType name="soccerPlayerMetadataComplexType">
		<xs:annotation>
			<xs:documentation>Player metadata specific to soccer. | Metadata for one player, specific to soccer.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="commonAttributes"/>
		<xs:attribute name="line-formation-row" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>Integer value ascending from closest to the goalkeeper. All players
					in the row closest to the goalkeeper have 1 as value, the next row 2, etc. Indicates
					row the player belonged to at the start of the game or when they entered the
					game.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="line-formation-position" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>Integer value ascending from left side of field. Starts at 1 for the
					first player in each line-formation. | Indicates line-position player had at the
					start of the game or when the player entered the game.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<!-- ========================================================================================= -->
	<!--        Soccer stats complex types               -->	
	<!-- ========================================================================================= -->	
	
	<xs:complexType name="soccerTeamStatsComplexType">
			<xs:annotation>
				<xs:documentation>Soccer specific stats for one team. | Team-stats that is specific to	soccer and does not apply to all sports.</xs:documentation>
			</xs:annotation>
        <xs:complexContent>
        	<xs:extension base="baseSoccerStatsComplexType">
        		<xs:attribute name="line-formation" type="xs:string" use="optional">
        			<xs:annotation>
        				<xs:documentation>String representing the formation of the team on the field
        					starting from the back of the field. This can be written as 4-4-2 where the
        					hyphens separates the lines on the field from the defense at left to the
        					forwards to the right. Depending on the formation of the team other than
        					three digits can be used, for example 4-2-3-1.</xs:documentation>
        			</xs:annotation>
        		</xs:attribute>
        	</xs:extension>
        </xs:complexContent>
		</xs:complexType>

	<xs:complexType name="soccerPlayerStatsComplexType">
		<xs:annotation>
			<xs:documentation>Player statistics that are specific to soccer. | Soccer specific statistic information about a player.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="baseSoccerStatsComplexType"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="baseSoccerStatsComplexType">
		<xs:sequence>
			<xs:element name="stats-soccer-offensive" type="soccerStatsOffensiveComplexType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="stats-soccer-defensive" type="soccerStatsDefensiveComplexType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="stats-soccer-foul" type="soccerStatsFoulComplexType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="commonAttributes"/>
		<xs:attributeGroup ref="coverageAttributes"/>
		<xs:attribute name="touches" type="xs:string" use="optional"/>
		<xs:attribute name="aerials-won" type="xs:string" use="optional"/>
	</xs:complexType>
	
	
	<xs:complexType name="soccerStatsOffensiveComplexType">
			<xs:annotation>
				<xs:documentation>Offensive stats specific to soccer. | Offensive stats for one team,
					specific to soccer.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attribute name="goals-game-winning" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals that meant winning a game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-game-tying" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals that meant tying a game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-overtime" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals scored during overtime.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-shootout" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals scored during shootout.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of goals by the team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="assists-game-winning" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Assists to goals that meant winning a game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="assists-game-tying" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Assists to goals that meant tying a game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="assists-overtime" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Assists made on goals scored during overtime.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="assists-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of assists.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Sum of goals and assists.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of shots made in attempt to score
						goal.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-on-goal-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of shots on goal that did not hit the
						net.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-off-goal-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of shots towards the goal, but that would have
						missed the target anyway.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-penalty-shot-taken" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of attempts to score as
						penalty-shot.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-penalty-shot-scored" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals scored as penalty-shots.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-penalty-shot-missed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of attempts to score as penalty-shot that did not result in a goal.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-penalty-shot-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Percentage of penalty shots scored. Could be calculated from above values.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-shootout-taken" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of attempts to score during shootout.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-shootout-scored" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals scored during shootout.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-shootout-missed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals missed during shootout.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-shootout-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Percentage of shootout goals scored.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="giveaways" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Changes in possession, usually as a result of poor play leading to the other team getting the ball.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="offsides" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of offsides.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="corner-kicks" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of corner kicks performed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="hat-tricks" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>A record of the number of times a player scored three or more
						goals in a game. Sometimes, the rules that govern the assignment of a
						hat-trick varies.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-hit-frame" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of shots hitting the goal frame.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-own" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals scored on own net.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="free-kicks" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Unopposed kicks on the field awarded to a team due to an opposing	team's infraction.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		<xs:attribute name="goals-left-foot" type="xs:string" use="optional"/>
		<xs:attribute name="goals-right-foot" type="xs:string" use="optional"/>
		<xs:attribute name="goals-head" type="xs:string" use="optional"/>
		<xs:attribute name="passes-total" type="xs:string" use="optional"/>
		<xs:attribute name="passes-complete" type="xs:string" use="optional"/>
		<xs:attribute name="passes-complete-percentage" type="xs:string" use="optional"/>
		<xs:attribute name="passes-incomplete" type="xs:string" use="optional"/>
		<xs:attribute name="passes-complete-3rd-final" type="xs:string" use="optional"/>
		<xs:attribute name="passes-complete-long" type="xs:string" use="optional"/>
		<xs:attribute name="tackles-total" type="xs:string" use="optional"/>
		<xs:attribute name="tackles-won" type="xs:string" use="optional"/>
		<xs:attribute name="tackles-won-percentage" type="xs:string" use="optional"/>
		<xs:attribute name="tackles-lost" type="xs:string" use="optional"/>
	</xs:complexType>

		<xs:complexType name="soccerStatsDefensiveComplexType">
			<xs:annotation>
				<xs:documentation>Defensive stats specific to soccer. | Defensive stats for one team,
					specific to soccer.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attribute name="shots-penalty-shot-allowed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of penalty-shots allowed from other
						teams.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-penalty-shot-allowed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of goals allowed as penalty shots.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-against-average" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average goals against per game for the given
						period.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="goals-against-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total goals against per game for the given
						period.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="saves" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Score attempts that were saved by the
						goal-keeper.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="save-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Percentage of saves compared to score-attempts on
						goal.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="catches-punches" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Situations when the goalie catches or punches the ball. Not a
						save attempt.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-on-goal-against-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of shots on goal against.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-shootout-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of attempts to score during
						shootout.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-shootout-allowed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Goals allowed during shootout.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shots-blocked" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Score attempts that was blocked by someone else than the
						goal-keeper.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shutouts" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of games when you did not allow the other team to
						score.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="crosses-18-yard-plus" type="xs:string" use="optional"/>
			<xs:attribute name="crosses-18-yard" type="xs:string" use="optional"/>
			<xs:attribute name="shots-blocked-outfielder" type="xs:string" use="optional"/>
			<xs:attribute name="shots-blocked-cross" type="xs:string" use="optional"/>
			<xs:attribute name="clearances-successful" type="xs:string" use="optional"/>
			<xs:attribute name="interceptions" type="xs:string" use="optional"/>
		</xs:complexType>

		<xs:complexType name="soccerStatsFoulComplexType">
			<xs:annotation>
				<xs:documentation>Stats specific to fauls, cautions, and ejections. | Could occur while
					players are on the offense, the defense, or even the bench.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attribute name="fouls-commited" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of fouls commited. Generally a defensive
						foul.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="fouls-suffered" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of fouls the player has suffered. Generally an
						offensive foul.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="cautions-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of cautions recieved.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="cautions-pending" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of cautions that could result in a game
						suspension.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="caution-points-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total amount of caution points. Can occur over various games in a
						season.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="caution-points-pending" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of caution points that could result in a game
						suspension.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ejections-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of ejections.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ejections-second-caution" type="xs:string" use="optional"/>
			<xs:attribute name="ejections-straight" type="xs:string" use="optional"/>
		</xs:complexType>

</xs:schema>
