3.0/specification/sportsml-specific-golf.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
IPTC - International Press Telecommunications Council
20 Garrick Street, London WC2E 9BT, United Kingdom 
www.iptc.org

See sportsml.xsd to view Non-Exclusive License Agreement for 
International Press Telecommunications Council, which
applies to this specification.
-->

<!-- ========================================================================================= -->
<!--        SportsML Golf plugin               -->	
<!-- ========================================================================================= -->	

<xs:schema 
	xmlns="http://iptc.org/std/nar/2006-10-01/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="3.0">
	
	<!-- ========================================================================================= -->
	<!--        Golf metadata complex types               -->	
	<!-- ========================================================================================= -->	
	
		<xs:complexType name="golfTournamentMetadataComplexType">
			<xs:annotation>
				<xs:documentation>Holds metadata about a golf tournament. | Currently only holds the rank of the team. ???</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
		</xs:complexType>
	
		<xs:complexType name="golfTournamentDivisionMetadataComplexType">
			<xs:annotation>
				<xs:documentation>Metadata about a particular division within a golf tournament. | Includes information about the course as a whole.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attribute name="course-yardage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How many yards the course is, measured from tees to holes.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="course-par" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The total par value of all holes.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
	<xs:complexType name="golfEventMetadataComplexType">
			<!-- This is used in the group eventMetadataSpecific -->
			<xs:annotation>
				<xs:documentation>Holds event metadata specific to golf. | Includes data about the course on which the event is held.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="eventStateGolf"/>
			<xs:attribute name="course-yardage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How long the total course is, in yards.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="course-par" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>What the par value is for the entire 18 holes of the course.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="course-rating" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>A Course Rating is a mark of the USGA representing a number which describes the difficulty of a golf course from a particular set of tees for a scratch (zero handicap) player. Course Ratings are established by an evaluation of the course by members of a committee, usually from your regional golf association. Course Ratings are numbers like 68.5, 71.2, etc. In some golf jurisdictions, course ratings might be called something else, and may be expressed to a tenth or as whole numbers.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="slope-rating" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>A Slope Rating is a mark of the USGA representing an integer number which describes the difficulty of a golf course from a particular set of tees for a bogey (average) golfer. Slope Ratings vary from 55 (very easy) to 155 (very difficult). The Slope Rating of a course which has not officially been rated is 113, the Slope Rating of a course of "average" difficulty.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
		<xs:complexType name="golfTeamMetadataComplexType">
			<xs:annotation>
				<xs:documentation>Holds metadata about a team (foursome perhaps) playing in the match. | Currently only holds the rank of the team.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseGolfMetadataComplexType"></xs:extension>
			</xs:complexContent>
		</xs:complexType>
	
		<xs:complexType name="golfPlayerMetadataComplexType">
			<xs:annotation>
				<xs:documentation>Holds metadata about a golf player. | Currently only holds the rank of the player.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseGolfMetadataComplexType"></xs:extension>
			</xs:complexContent>
		</xs:complexType>

	<xs:complexType name="baseGolfMetadataComplexType">
		<xs:annotation>
			<xs:documentation>Holds metadata about a golf player. | Currently only holds the rank of the player.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="commonAttributes"/>
		<xs:attribute name="rank" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>How this player ranks among the other competing players.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	

	<!-- ========================================================================================= -->
	<!--        Golf Stats complex types               -->	
	<!-- ========================================================================================= -->	

		<xs:complexType name="golfPlayerStatsComplexType">
			<xs:annotation>
				<xs:documentation>Holds statistics particular to the player. | Includes performance statistics during the timespan described in date-coverage-scope attributes.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseGolfStatsComplexType">
					<xs:attribute name="handicap" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>The handicap-value of this player. This will normally not be used in professional tournaments.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>

	
	<xs:complexType name="baseGolfStatsComplexType">
		<xs:annotation>
			<xs:documentation>Holds statistics particular to a team of golf players.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="stats-golf" type="golfStatsComplexType" minOccurs="0"/>
			<xs:element name="stats-golf-round" type="golfStatsRoundComplexType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="commonAttributes"/>
		<xs:attributeGroup ref="coverageAttributes"/>
	</xs:complexType>
	
		<!-- This group is used in team-stats-golf and player-stats-golf -->
		<xs:complexType name="golfStatsComplexType">
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>

			<xs:attribute name="rounds" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How many rounds the player or team has completed in this particular tournament.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="average" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average score of the player or team. Number of shots devided by number of holes??</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="distance-longest" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The longest distance the player shot.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="distance-rank" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The rank in the round or tournament for the player when comparing the longest distance shot.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="drives" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The number of drives made by the player.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="total-rounds" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of rounds played during the current tournament.</xs:documentation><!-- Compare to rounds above -->
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="total-strokes" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of strokes (or swings) (or shots) made.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="total-holes" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of holes played.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="total-putts" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of putts attempted.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="total-points" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total score of the player. Depending on the system used in the tournament the score could be something other than the actual number of strokes.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="total-driving" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total driving distance.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="total-par-or-less" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of holes played by the player at par or less than par.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="birdies" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of birdies.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="birdies-rank" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How the player ranks in the round or tournament regarding birdies.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="eagles" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of eagles.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="eagles-rank" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How the player ranks in the round or tournament regarding eagles.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="saves" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of saves when the ball landed in a sand bunker.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="saves-rank" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How the player ranks in the round or tournament regarding saves from the bunker.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="bunkers" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of bunker shots the player took.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="eagle-per-holes-frequency" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Frequency of hitting eagles.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="greens-hit" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>This is  a very special golf term. To reach a green in regulation (GIR) the player must place the ball on the green with two strokes less than the par of the course. The attribute holds the number of times the player or team has achieved this in the timeframe the stats cover.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="greens-hit-rank" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How the player ranks in the tournament or round regarding greens hit in regulation.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="greens-in-regulation-missed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of greens missed during regulation play.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="greens-in-regulation-putting" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The average number of puts needed to finish holes after hitting the green in regulation (GIR).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="greens-in-regulation-rank" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Rank of player in terms of the greens-in-regulation putting.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="fairways-hit" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of fairways hit.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="fairways-possible" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Maximum number of fairways it was possible to hit.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="putts-per-round" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The average number of putts needed per complete round.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="putts-per-round-rank" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How the player ranks when comparing the average putts-per-round.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="holes-under-par" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of holes finished under par.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="scoring-adjustment" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Scoring adjustment.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="finishes-top-10" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of finishes the player had in the top ten.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="finishes-first-place" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of first-place finishes the player had.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="finishes-second-place" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of second-place finishes the player had.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="performance-par-3" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The performance of the player on par-3 holes.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="performance-par-4" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The performance of the player on par-4 holes.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="performance-par-5" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The performance of the player on par-5 holes.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="money" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Amount of money earned by the player.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="money-value" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Money value.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of points.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-lost" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of points lost.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-gained" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of points gained.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="drive-accuracy" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>A percentage of how good the drives from the player or team has been in the given frame the stats cover.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="drive-accuracy-rank" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How the player ranks when comparing drive-accuracy.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rounds-under-par" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The number of rounds the player has completed a course under par.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="bogeys" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The number of holes finished one above par for that hole.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="bogeys-rank" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How the player ranks when comparing bogeys.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="double-bogeys" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The number of holes finished two above par for that hole.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="double-bogeys-rank" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How the player ranks when comparing double-bogeys.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="finish-other" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The number of holes finished with either more than two under par or two over par.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="finish-other-rank" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How the player ranks when comparing finish-other.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="pars" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The number of holes finished on par.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="pars-rank" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How the player ranks when comparing pars.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>

		<xs:complexType name="golfStatsRoundComplexType">
			<!-- Used in team-stats-golf and player-stats-golf -->
			<xs:annotation>
				<xs:documentation>Statistics pertinent to a round within a tournament. | Allows for hole-by-hole breakdowns.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="stats-golf" type="golfStatsComplexType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="stats-golf-hole" type="golfStatsHoleComplexType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="baseGolfStats"/>
			<xs:attribute name="round-number" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The number of the round whose stats are being reported.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
		<xs:complexType name="golfStatsHoleComplexType">
			<xs:annotation>
				<xs:documentation>Statistics pertinent to a particular hole within a golf round. | Includes what score was recorded at that hole, and the par value of the hole.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="baseGolfStats"/>
			<xs:attribute name="hole-type" use="optional">
				<xs:annotation>
					<xs:documentation>The type of hole played.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="regular"/>
						<xs:enumeration value="playoff"/>
						<xs:enumeration value="sudden-death"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="hole" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>A number, generally from 1 to 18. Alternately, the keyword finished.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
	<!-- ========================================================================================= -->
	<!--        Golf attribute groups complex types               -->	
	<!-- ========================================================================================= -->	
	
	<xs:attributeGroup name="baseGolfStats">
		<xs:attributeGroup ref="commonAttributes"/>
		<xs:attributeGroup ref="coverageAttributes"/>
		<xs:attribute name="par" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The par-value for the hole or the round. Number of strokes needed to reach par.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="strokes" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Total number of strokes in this round or hole.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="score" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Total score this round or hole. The score can be the same as strokes but it can also be some other type of scoring system used in golf.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="score-against-par" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The score compared to par on the hole or round. So a score equal par would put a 0 here and a score under par a negative value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<xs:attributeGroup name="eventStateGolf">
		<!-- This group is used in event-metadata-golf, action-golf-shot and action-golf-other -->
		<xs:attribute name="round" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The round in the tournament.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="hole" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Generally an integer, 1 through 18. Could be 19, for a playoff hole. But playoff holes are not numberd like that. They are both recorded as what ordinal number of playoff they are and on that numbered hole on the course thay are played on.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="strokes" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Total number of strokes in this round.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="score" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Total score this round. The score can be the same as strokes but it can also be some other type of scoring system used in golf.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="score-against-par" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The score compared to par on the hole. So a score equal par would put a 0 here and a score under par a negative value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	
</xs:schema>
