3.0/sportsml-specific-curling.xsd

<?xml version="1.0"?>
<!--
IPTC - International Press Telecommunications Council
20 Garrick Street, London WC2E 9BT, United Kingdom
www.iptc.org

See sportsml.xsd to view Non-Exclusive License Agreement for 
International Press Telecommunications Council, which
applies to this specification.


-->

<!-- ========================================================================================= -->
<!--        SportsML Curling plugin               -->	
<!-- ========================================================================================= -->	


<xs:schema xmlns="http://iptc.org/std/nar/2006-10-01/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified" 
    version="3.0">

    <!-- ========================================================================================= -->
    <!--        Curling metadata complex types               -->	
    <!-- ========================================================================================= -->	
    
        <xs:complexType name="curlingEventMetadataComplexType">
            <xs:annotation>
                <xs:documentation>An element holding sport-specific metadata about a curling game.</xs:documentation>
            </xs:annotation>
            <xs:attribute name="sheet" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>The playing field (ice) for one curling game is called the sheet. In various tournaments the sheets could be identified with numbers, letters or a combination.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="draw" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>In curling a game is also called a draw. This is not to be confused with the shot type draw. This attributes can be used to record any curling-specific identification this game/draw has.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    
        <xs:complexType name="curlingPlayerMetadataComplexType">
            <xs:annotation>
                <xs:documentation>Holds metadata specific to a curling player.</xs:documentation>
            </xs:annotation>
            <xs:attributeGroup ref="commonAttributes"/>
            <xs:attribute name="delivery" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>If the player is playing righthanded or lefthanded.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="role" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>If the player has a named role in the team. For example skip or vice skip.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    
    <!-- ========================================================================================= -->
    <!--        Curling Stats complex types               -->	
    <!-- ========================================================================================= -->	

        <xs:complexType name="curlingPlayerStatsComplexType">
            <xs:annotation>
                <xs:documentation>Holds curling-specific stats for certain player.</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="stats-curling-accuracy" type="curlingStatsAccuracyComplexType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="commonAttributes"/>
            <xs:attributeGroup ref="coverageAttributes"/>
        </xs:complexType>

        <xs:complexType name="curlingTeamStatsComplexType">
            <xs:annotation>
                <xs:documentation>Statistics summarizing the actions of one team.</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="stats-curling-stone" type="curlingStatsStoneComplexType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="stats-curling-end" type="curlingStatsEndComplexType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="stats-curling-accuracy" type="curlingStatsAccuracyComplexType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="commonAttributes"/>
            <xs:attributeGroup ref="coverageAttributes"/>
            <xs:attribute name="hammer" type="xs:boolean"/>
        </xs:complexType>

        <xs:complexType name="curlingStatsStoneComplexType">
            <xs:annotation>
                <xs:documentation>Description of an individual stone used in a curling game.</xs:documentation>
            </xs:annotation>
            <xs:attributeGroup ref="commonAttributes"/>
            <xs:attributeGroup ref="coverageAttributes"/>
            <xs:attribute name="stone-number" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>The number on the stone.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="stone-color" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>The color of the stone.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    
        <xs:complexType name="curlingStatsEndComplexType">
            <xs:annotation>
                <xs:documentation>Statistics for one end (round) for one team in a curling game.</xs:documentation>
            </xs:annotation>
            <xs:attributeGroup ref="commonAttributes"/>
            <xs:attributeGroup ref="coverageAttributes"/>
            <xs:attribute name="end-number" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>Which number the end has.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="score" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>What was the score for this team this end.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="throw-order" use="optional">
                <xs:annotation>
                    <xs:documentation>What order of play, did this team play the first or last stone this end.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="first">
                            <xs:annotation>
                                <xs:documentation>The team plays the first stone in this round.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="last">
                            <xs:annotation>
                                <xs:documentation>This team has the last stone in this round.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="time-used" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>How much time was used by this team this end.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    
        <xs:complexType name="curlingStatsAccuracyComplexType">
            <xs:annotation>
                <xs:documentation>Holds the summary for shots and percentage for one team or one player and optionally for just one type of shots.</xs:documentation>
            </xs:annotation>
            <xs:attributeGroup ref="commonAttributes"/>
            <xs:attributeGroup ref="coverageAttributes"/>
            <xs:attribute name="shot-type" use="optional">
                <xs:annotation>
                    <xs:documentation>If the stats cover a specific shot-type.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="draw">
                            <xs:annotation>
                                <xs:documentation>A shot trying to place the stone inside the house.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="come around">
                            <xs:annotation>
                                <xs:documentation>A shot trying to move the stone around another stone placing the new stone inside the house.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="front">
                            <xs:annotation>
                                <xs:documentation>A shot with the intention of placing the stone in front of the house.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="guard">
                            <xs:annotation>
                                <xs:documentation>A shot that is placed in front of another stone to protect it from being knocked out by the other team, or placed with the intent to later curl another rock around it and thus be protected; typically placed between the hog line and the very front of the house.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="raise">
                            <xs:annotation>
                                <xs:documentation>Using one stone to hit another stone with the intention of moving it forward.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="freeze">
                            <xs:annotation>
                                <xs:documentation>A precise draw weight shot where a delivered stone comes to rest against a stationary stone, making it nearly impossible to knock out.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="split">
                            <xs:annotation>
                                <xs:documentation>A draw shot in which the played stone hits on the side of a stationary stone and both move sideways and stay in play.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="tick">
                            <xs:annotation>
                                <xs:documentation>A shot that bumps a guard out of the way without removing it from play.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="takeout">
                            <xs:annotation>
                                <xs:documentation>A shot that tries to hit and remove another stone from the game.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="hit and roll">
                            <xs:annotation>
                                <xs:documentation>A shot that tries to hit and remove another stone from the game and then moving the shot stone sideways.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="clearing">
                            <xs:annotation>
                                <xs:documentation>A shot that tries to hit and remove (an)other stone(s) including the shot stone.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="double">
                            <xs:annotation>
                                <xs:documentation>A shot that tries to hit and remove two other stones.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="raise takeout">
                            <xs:annotation>
                                <xs:documentation>A shot that tries to hit another stone that in turn should hit a third stone removing that stone from play.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="not considered">
                            <xs:annotation>
                                <xs:documentation>A shot that is not to be considered in the statistics for the game.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="team fault">
                            <xs:annotation>
                                <xs:documentation>A shot that the team made something wrong with like touching the stone after release etc.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="blank">
                            <xs:annotation>
                                <xs:documentation>A stone that is not played at all, for example all remaining stones in the game when one team has given up the game.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="turn" use="optional">
                <xs:annotation>
                    <xs:documentation>If the stats show the values for a specific turn-type inhand or outhand.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="inturn">
                            <xs:annotation>
                                <xs:documentation>When the stone is released with a clock-wise turn.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="outturn">
                            <xs:annotation>
                                <xs:documentation>When the stone is released with a anti-clock-wise turn.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="percentage"  use="optional">
                <xs:annotation>
                    <xs:documentation>The calculated percentage of the shots covered in this stats summary.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:annotation>
                            <xs:documentation>For individual shots the result is scored as 0,25,50,75,100,125 or 150 is used. But since the type is used for calculated averages for several shots it must be open to any value. 
                                0 is a complete miss, 25 a bad shot, 50 an average, 75 a good shot and 100 for a perfect shot. 125 is reserved to exceptional shots and 150 for very exceptional shots that are also changing the outcome of the game.</xs:documentation>
                        </xs:annotation>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="number-of-shots" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>Number of shots covered in this stats summary.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    
    <!-- ========================================================================================= -->
    <!--        Curling event actions complex types               -->	
    <!-- ========================================================================================= -->	
    
<!--        <xs:complexType name="curlingEventActionsComplexType">
            <xs:annotation>
                <xs:documentation>A holder for actions taking place in a curling match.</xs:documentation>
            </xs:annotation>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="play" type="curlingActionPlayComplexType"/>
                <xs:element name="other" type="curlingActionOtherComplexType"/>
            </xs:choice>
            <xs:attributeGroup ref="commonAttributes"/>
        </xs:complexType>
-->    
<!--        <xs:complexType name="curlingActionPlayComplexType">
            <xs:annotation>
                <xs:documentation>Description of one shot, what the assignment was, which player and the outcome.</xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="baseEventActionComplexType">
                    <xs:sequence>
                        <xs:element name="participant" type="curlingActionParticipantComplexType" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="miss-reason" type="curlingActionMissReasonComplexType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="eventStateCurling"/>
                    <xs:attribute name="time-used" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>How much time did the team spend on this individual shot.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="turn" type="turnType.Curling" use="optional">
                        <xs:annotation>
                            <xs:documentation>Was this shot done using inturn or outturn.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shot-type" type="shotType.Curling" use="optional">
                        <xs:annotation>
                            <xs:documentation>Which shot-type was called. (Draw, draw round, take, tick etc)</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="stone-speed" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>The stone speed if measured.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="success" type="shotResult.Curling" use="optional">
                        <xs:annotation>
                            <xs:documentation>The percentage of success of the stone. 0, 25, 50, 75 or 100. 125 for exceptional shots. 150 for exceptional stones winning games.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    
        <xs:complexType name="curlingActionMissReasonComplexType">
            <xs:annotation>
                <xs:documentation>If a shot was a miss this element can be used to record the reason.</xs:documentation>
            </xs:annotation>
            <xs:attributeGroup ref="commonAttributes"/>
            <xs:attribute name="type" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>The reason why the stone was a miss. Could be rule-violation by the player, problem with the stone, player touching the stone after release etc.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    
    <xs:complexType name="curlingActionOtherComplexType">
        <xs:annotation>
            <xs:documentation>A custom action. | For use when none of the pre-build actions apply.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="genericEventActionComplexType">
                <xs:sequence>
                    <xs:element name="participant" type="curlingActionParticipantComplexType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="eventStateCurling"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="curlingActionParticipantComplexType">
        <xs:annotation>
            <xs:documentation>Describes which player was involved in the play and how. | The role and result attributes are critical.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="baseParticipantComplexType">
                <xs:attribute name="role" type="participantRole.Curling" use="required">
                    <xs:annotation>
                        <xs:documentation>A controlled vocabulary specifying a player's role during the play.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
-->    

    <!-- ========================================================================================= -->
    <!--        Curling attribute groups complex types               -->	
    <!-- ========================================================================================= -->	

    <xs:attributeGroup name="eventStateCurling">
        <xs:attribute name="stone-idref" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>A reference to an id of the stone used.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="end-number" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>The number of the end. Rounds of normally 8+8 stones are called ends in curling.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    
    
</xs:schema>