3.0/sportsml-specific-basketball.xsd

<?xml version="1.0"?>
<!--
IPTC - International Press Telecommunications Council
20 Garrick Street, London WC2E 9BT, United Kingdom
www.iptc.org

See sportsml.xsd to view Non-Exclusive License Agreement for 
International Press Telecommunications Council, which
applies to this specification.

-->

<!-- ========================================================================================= -->
<!--        SportsML Basketball plugin               -->	
<!-- ========================================================================================= -->	


<xs:schema xmlns="http://iptc.org/std/nar/2006-10-01/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="3.0">
	
	<!-- ========================================================================================= -->
	<!--        Basketball Stats complex types               -->	
	<!-- ========================================================================================= -->	
	
		<xs:complexType name="basketballPlayerStatsComplexType">
			<xs:annotation>
				<xs:documentation>Specific statistics for basketball players. | Includes offensive, rebounding, and defensive stats.</xs:documentation>
			</xs:annotation>
            <xs:complexContent>
            	<xs:extension base="baseBasketballStatsComplexType">
			<xs:attribute name="minutes-played" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of minutes this player has spent playing during a particular game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="games-played" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of games played.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="games-started" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of games that started with this player on the court,.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="average-minutes-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of minutes per game played by this player.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="personal-fouls-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of fouls made by the player per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="double-doubles" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>A double digit number in any two of these categories: points, rebounds, assists, steals, and blocked shots.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="triple-doubles" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>A double digit number in any three of these categories: points, rebounds, assists, steals, and blocked shots.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
            		
            	</xs:extension>
            </xs:complexContent>
		</xs:complexType>
	
		<xs:complexType name="basketballTeamStatsComplexType">
			<xs:annotation>
				<xs:documentation>Specific statistics for basketball. | Includes offensive, rebounding, and defensive stats.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseBasketballStatsComplexType">
			<xs:attribute name="timeouts-left" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of timeouts a team has left during the current event.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="largest-lead" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Largest number of points this team has led the opposition. Could be a negative number.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="fouls-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of fouls comitted by the team during this event.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="turnover-margin" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Turnover margain is the number of turnovers made by this team minus the number of turnovers made by the opposing team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
					
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	
	<xs:complexType name="baseBasketballStatsComplexType">
		<xs:sequence>
			<xs:element name="stats-basketball-offensive" type="basketballStatsOffensiveComplexType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="stats-basketball-rebounding" type="basketballStatsReboundingComplexType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="stats-basketball-defensive" type="basketballStatsDefensiveComplexType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="commonAttributes"/>
		<xs:attributeGroup ref="coverageAttributes"/>
	</xs:complexType>

		<xs:complexType name="basketballStatsOffensiveComplexType">
			<xs:annotation>
				<xs:documentation>Statistics for a team or player while they had possession of the ball. | Includes scoring and assisting stats.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attribute name="field-goals-made" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Shots made that were worth two points each.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="field-goals-attempted" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Two-point shots that were attempted.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="field-goals-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Field goals made versus attempted. This could also be calculated from the above.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="field-goals-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of field goals made per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="field-goals-attempted-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of field goals attempted per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="field-goals-percentage-adjusted" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>A formula measuring shooting efficiency: [(points-scored-total - free-throws-made)/field-goals-attempted]/2.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="three-pointers-made" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Shots made that were worth three points each.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="three-pointers-attempted" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Three-point shots that were attempted.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="three-pointers-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Three-pointers made versus attempted. This could be calculated.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="three-pointers-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of three-pointers made per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="three-pointers-attempted-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of three-pointers attempted per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="free-throws-made" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Shots made that were worth one point each.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="free-throws-attempted" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>One-point shots that were attempted.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="free-throws-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Free throws made versus attempted.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="free-throws-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of free throws made per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="free-throws-attempted-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of free throws attempted per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-scored-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of points scored, over.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-scored-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of points scored in games played.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-scored-per-game-highest" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Highest number of points scored in one game played.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-scored-per-shot" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Calculated by dividing points-scored-total by field-goals-attempted.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="assists-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of assists.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="assists-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of assists per games played.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="turnovers-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of turnovers.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="turnovers-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of turnovers per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="team-turnovers-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of team turnovers.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="team-turnovers-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of team turnovers per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-scored-off-turnovers" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of points scored off turnovers.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-scored-in-paint" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of points scored from within the painted area surrounding the basket.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-scored-on-second-chance" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of points scored after fielding an offensive rebound.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-scored-on-fast-break" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of points scored off a fast break.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>

		<xs:complexType name="basketballStatsReboundingComplexType">
			<xs:annotation>
				<xs:documentation>Statistics for a team or player revolving around rebounds. | Includes rebounds credited to particular players, and credited to the entire team.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attribute name="rebounds-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The sum of all rebounds that were credited to particular players.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rebounds-total-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The percentage of rebounds total compared to total number of attempts.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rebounds-defensive" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The sum of all defensive rebounds credited to particular players. A defensive rebound occurs when the team is in defence but gains possession through a rebound.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rebounds-opponent-defensive" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The total defensive rebounds by the opposing team or player.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rebounds-defensive-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The percentage of defensive rebounds.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rebounds-offensive" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The sum of all offensive rebounds credited to particular player. An offensive rebound is when the team keep possession of the ball through a rebound.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rebounds-offensive-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The percentage of offensive rebounds.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rebounds-opponent-offensive" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The total offensive rebounds by the opposing team or player.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="team-rebounds-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The number of rebounds that did not credited to individual players, but were instead credited to the team as a whole.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="team-rebounds-total-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Percentage of team rebounds.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="team-rebounds-defensive" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The sum of all defensive rebounds credited to the team as a whole.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="team-rebounds-defensive-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The percentage of defensive rebounds credited to the team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="team-rebounds-offensive" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The sum of all offensive rebounds credited to the team as a whol.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="team-rebounds-offensive-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The percentage of offensive rebounds credited to the team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="team-rebounds-opponent-defensive" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The total defensive team rebounds by the opposing team or player.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="team-rebounds-opponent-offensive" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The total offensive team rebounds by the opposing team or player.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rebounds-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The average number of personal rebounds per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="team-rebounds-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The average number of team rebounds per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rebounds-offensive-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The average number of offensive personal rebounds per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rebounds-defensive-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The average numer of defensive personal rebounds per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rebounds-differential" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The differential between the total number of rebounds from this team compared to the opposing team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rebounds-opponent-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The total number of rebounds (ofensive and defensive) by the opposing team or player.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="team-rebounds-opponent-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The total number of rebounds (ofensive and defensive) by the opponent which are credited to the team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>

		<xs:complexType name="basketballStatsDefensiveComplexType">
			<xs:annotation>
				<xs:documentation>Statistics for a team or player while the other team was in possession of the ball. | Includes information on steals and blocks.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attribute name="steals-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of steals.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="steals-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of steals per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="steals-opponent" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of steals-against by opponent.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="steals-differential" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The number of steals made by this team compared to steals made by the other team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="blocks-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of blocks.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="blocks-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of blocks per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="blocks-opponent" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of blocks-against by opponent.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="blocks-differential" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of blocks made by this team compared to blocks made by the other team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-scored-against-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average of points scored against per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points-scored-against-per-game-highest" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Highest number of points scored against in one game played.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="field-goals-against-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The average number of field goals scored agains per game.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="field-goals-against-percentage" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The percentage of field goals scored against.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="charges-taken" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of charges taken. A charge is when the referee toss the ball and one player of each team try to give their team possession of the ball.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>

	<!-- ========================================================================================= -->
	<!--        Basketball event actions complex types               -->	
	<!-- ========================================================================================= -->	
	
<!--		<xs:complexType name="basketballEventActionsComplexType">
			<xs:annotation>
				<xs:documentation>A container for specific basketball actions. | Generally ordered chronologically.</xs:documentation>
			</xs:annotation>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="play" type="basketballActionPlayComplexType"/>
				<xs:element name="score" type="basketballActionScoreComplexType"/>
				<xs:element name="substitution" type="basketballActionSubstitutionComplexType"/>
				<xs:element name="penalty" type="basketballActionPenaltyComplexType"/>
				<xs:element name="other" type="basketballActionOtherComplexType"/>
			</xs:choice>
			<xs:attributeGroup ref="commonAttributes"/>
		</xs:complexType>
-->
<!--	<xs:complexType name="basketballActionPlayComplexType">
		<xs:annotation>
			<xs:documentation>Any kind of on-court play indicated by play-type vocabulary.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="baseEventActionComplexType">
				<xs:sequence>
					<xs:element name="participant" type="basketballActionParticipantComplexType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attributeGroup ref="eventStateBasketball"/>
				<xs:attribute name="play-type" type="playType.Basketball" use="optional">
					<xs:annotation>
						<xs:documentation>The type of play.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="score-attempt-type" type="scoreAttemptType.Basketball" use="optional">
					<xs:annotation>
						<xs:documentation>What type of shot it was. Free shot or field goal, 2 or 3 points.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="score-attempt-result" type="scoreAttemptResult.Basketball" use="optional">
					<xs:annotation>
						<xs:documentation>The reason why the score attempt missed.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="location" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>A string indicating where on the court the play occured. Could be an approximate region, or a more complex value adhering to some elaborate coordinate system.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="zone" use="optional">
					<xs:annotation>
						<xs:documentation>The zone on the court for the stat or action: offense | defense | neutral.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="offense"/>
							<xs:enumeration value="defense"/>
							<xs:enumeration value="neutral"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="turnover-type" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Controlled vocabulary such as steal or lost-ball.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="timeout-duration" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>The duration of the timeout.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="timeouts-left" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>The number of timeouts remaining once this timeout is finished.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="caller" use="optional">
					<xs:annotation>
						<xs:documentation>Who called the timeout.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="team"/>
							<xs:enumeration value="official"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="caller-idref" type="xs:IDREF" use="optional">
					<xs:annotation>
						<xs:documentation>If caller is team, say, a pointer to the team element.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	



		<xs:complexType name="basketballActionSubstitutionComplexType">
			<xs:annotation>
				<xs:documentation>Used when one player comes in for another. | Simultaneous multiple replacements can be handled by using several of these elements, and leaving either the replacing or the original players blank.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="eventStateBasketball"/>
			<xs:attribute name="person-type" use="optional">
				<xs:annotation>
					<xs:documentation>Whether a player, a coach, or a referree.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="player"/>
						<xs:enumeration value="auxilliary"/>
						<xs:enumeration value="official"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="person-original-idref" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>A pointer to the player who left the court.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="person-original-position" type="position.Basketball" use="optional">
				<xs:annotation>
					<xs:documentation>The position of the player who left the court.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="person-replacing-idref" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>A pointer to the player who now went on the court.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="person-replacing-position" type="position.Basketball" use="optional">
				<xs:annotation>
					<xs:documentation>The position of the player who went on the court.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="substitution-reason" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The reason why a substitution was made.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>

		<xs:complexType name="basketballActionScoreComplexType">
			<xs:annotation>
				<xs:documentation>Used to record shots that were successful. | Can include update of what the new score is between teams.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="participant" type="basketballActionParticipantComplexType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="eventStateBasketball"/>
			<xs:attribute name="score-attempt-type" type="scoreAttemptType.Basketball" use="optional">
				<xs:annotation>
					<xs:documentation>Accordning to a vocabulary that shows if the attempt was made as a free shot or a 2-point or 3-point field goal.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="points" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How many points are given for the goal. Generally: 1, 2, or 3.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="score-team" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The resulting new total score of the team that scored.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="score-team-opposing" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The current total score of the team was scored upon.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="location" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>A string indicating where on the court the shot was taken from. Could be an approximate region, or a more complex value adhering to some elaborate coordinate system.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>

		<xs:complexType name="basketballActionParticipantComplexType">
			<xs:annotation>
				<xs:documentation>A generic play participant element.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseParticipantComplexType">
					<xs:attribute name="role" type="participantRole.Basketball" use="required">
						<xs:annotation>
							<xs:documentation>A controlled vocabulary specifying a player's role during the play.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>

		<xs:complexType name="basketballActionPenaltyComplexType">
			<xs:annotation>
				<xs:documentation>Used when a foul is made. | Records who made the foul and who called the foul.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="eventStateBasketball"/>
			<xs:attribute name="recipient-type" use="required">
				<xs:annotation>
					<xs:documentation>Whether the receiver of the penalty was the team, the player, a coach, a ref, etc.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="team"/>
						<xs:enumeration value="player"/>
						<xs:enumeration value="auxilliary"/>
						<xs:enumeration value="official"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="recipient-idref" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>A pointer to the receiver of the penalty.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="caller-idref" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>A pointer to the official who called the penalty.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-count" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>How many penalties the recipient has received in this sports-event, including this one.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-side" type="penaltySide.Basketball" use="optional">
				<xs:annotation>
					<xs:documentation>Whether it was an offensive or defensive penalty.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-level" type="penaltyLevel.Basketball" use="optional">
				<xs:annotation>
					<xs:documentation>The level of the penalty. According to a controlled vocabulary.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="zone" use="optional">
				<xs:annotation>
					<xs:documentation>The zone on the court for the stat or action: offense | defense | neutral.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="offense"/>
						<xs:enumeration value="defense"/>
						<xs:enumeration value="neutral"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>

		<xs:complexType name="basketballActionOtherComplexType">
			<xs:annotation>
				<xs:documentation>A custom action. | For use when none of the pre-build actions apply.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="genericEventActionComplexType">
					<xs:attributeGroup ref="eventStateBasketball"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
-->
	


</xs:schema>
