3.0/sportsml-specific-rugby.xsd

<?xml version="1.0"?>
<!--
IPTC - International Press Telecommunications Council
20 Garrick Street, London WC2E 9BT, United Kingdom
www.iptc.org

See sportsml.xsd to view Non-Exclusive License Agreement for 
International Press Telecommunications Council, which
applies to this specification.

-->

<!-- ========================================================================================= -->
<!--        SportsML Rugby plugin               -->	
<!-- ========================================================================================= -->	

<xs:schema xmlns="http://iptc.org/std/nar/2006-10-01/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="3.0">
	
	<!-- ========================================================================================= -->
	<!--        Rugby metadata complex types               -->	
	<!-- ========================================================================================= -->	

		<xs:complexType name="rugbyEventMetadataComplexType">
			<xs:annotation>
				<xs:documentation>Rugby-specific metadata for events. | Metadata that is specific to rugby for events.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="time-adjustment" type="rugbyTimeAdjustmentComplexType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<!--<xs:attributeGroup ref="eventStateRugby"/> Not needed since it is already in core-->
			<xs:attribute name="kick-off-team-idref" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Pointer to the team doing the kick-off for the period covered.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
		<xs:complexType name="rugbyTimeAdjustmentComplexType">
			<xs:annotation>
				<xs:documentation>Record time added by referee. | Holds values for the time added by the referee and how much extra time was actually played.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseTimeAdjustmentComplexType">
					<!--<xs:attributeGroup ref="eventStateRugby"/>-->
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	
		<xs:complexType name="rugbyTeamMetadataComplexType">
			<xs:annotation>
				<xs:documentation>Rugby specific metadata for one team. | The team-metadata that is specific for rugby and does not apply in all sports.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
		</xs:complexType>
	
	<!-- ========================================================================================= -->
	<!--        Soccer stats complex types               -->	
	<!-- ========================================================================================= -->	
	
		<xs:complexType name="rugbyPlayerStatsComplexType"> 
			<xs:annotation>
				<xs:documentation>Player statistics that are specific to rugby. | Rugby specific statistic information about a player.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseRugbyStatsComplexType">
					
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>

		<xs:complexType name="rugbyTeamStatsComplexType">
			<xs:annotation>
				<xs:documentation>Rugby specific stats for one team. | Team-stats that are specific to rugby and does not apply to all sports.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseRugbyStatsComplexType">
					
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	
	    <xs:complexType name="baseRugbyStatsComplexType">
	    	<xs:sequence>
	    		<xs:element name="stats-rugby-offensive" type="rugbyStatsOffensiveComplexType" minOccurs="0" maxOccurs="unbounded"/>
	    		<xs:element name="stats-rugby-defensive" type="rugbyStatsOffensiveComplexType" minOccurs="0" maxOccurs="unbounded"/>
	    		<xs:element name="stats-rugby-foul" type="rugbyStatsOffensiveComplexType" minOccurs="0" maxOccurs="unbounded"/>
	    	</xs:sequence>
	    	<xs:attributeGroup ref="commonAttributes"/>
	    	<xs:attributeGroup ref="coverageAttributes"/>
	    </xs:complexType>
	
		<xs:complexType name="rugbyStatsOffensiveComplexType">
			<xs:annotation>
				<xs:documentation>Offensive stats specific to rugby. | Offensive stats for one team, specific to rugby.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attribute name="tries-scored" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Tries scored.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="tries-scored-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of tries scored per match.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-tries-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Penalty tries awarded.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-tries-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of penalty tries awarded per match.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="drop-goal-attempts" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Drop goal attempts</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="drop-goals-scored" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Drop goals scored</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="drop-goals-scored-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average drop goals scored per match</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-goal-attempts" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Penalty goal attempts</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-goals-scored" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Penalty goals scored</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalty-goals-scored-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average penalty goals scored per match</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="conversion-attempts" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Conversion attempts</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="conversions-scored" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Conversions scored</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="conversions-scored-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average conversions scored per match</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="free-kicks-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of free kicks</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="free-kicks-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average free kicks per match</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="kicks-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of kicks</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="kicks-into-touch" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of kicks into touch</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="runs" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of runs</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="metres-gained" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of metres advanced in the match</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="scrums-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of scrums by team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="scrums-won-for" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of own scrums won.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="line-outs-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of line-outs by team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="line-outs-won-for" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of lineouts won on own put in</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rucks-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of rucks by team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rucks-won-for" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of rucks won where team brought the ball in</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mauls-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of mauls by team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mauls-won-for" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of own mauls won.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="handling-errors" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of handling errors</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="handling-errors-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average handling errors per match</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
		<xs:complexType name="rugbyStatsDefensiveComplexType">
			<xs:annotation>
				<xs:documentation>Defensive stats specific to rugby. | Defensive stats for one team, specific to rugby.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attribute name="tackles" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of tackles</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="tackles-missed" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of tackles missed</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="scrums-won-against" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of scrums won on opponent's put in</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="line-outs-won-against" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of lineouts won on opponent's put in</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rucks-won-against" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of rucks won where opponent brought the ball in</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mauls-won-against" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of opposing teams's mauls won.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalties-conceded" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of penalties conceded to opposing team.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="penalties-conceded-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of penalties conceded to opposing team</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
		<xs:complexType name="rugbyStatsFoulComplexType">
			<xs:annotation>
				<xs:documentation>Stats specific to fauls, cautions, and ejections. | Could occur while players are on the offense, the defense, or even the bench.</xs:documentation>
			</xs:annotation>
			<xs:attributeGroup ref="commonAttributes"/>
			<xs:attributeGroup ref="coverageAttributes"/>
			<xs:attribute name="cautions-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of cautions recieved.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="cautions-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of cautions recieved per match.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="cautions-pending" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of cautions that could result in a game suspension.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="caution-points-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total amount of caution points. Can occur over various games in a season.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="caution-points-pending" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Number of caution points that could result in a game suspension.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ejections-total" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Total number of ejections.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ejections-per-game" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Average number of ejections recieved per match.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	
	<!-- ========================================================================================= -->
	<!--        Rugby event actions               -->	
	<!-- ========================================================================================= -->	
	
<!--	<xs:complexType name="rugbyEventActionsComplexType">
			<xs:annotation>
				<xs:documentation>Action specific to rugby. | Actions that are specific to rugby.</xs:documentation>
			</xs:annotation>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="play" type="rugbyActionPlayComplexType"/>
				<xs:element name="score" type="rugbyActionScoreComplexType"/>
				<xs:element name="substitution" type="rugbyActionSubstitutionComplexType"/>
				<xs:element name="penalty" type="rugbyActionPenaltyComplexType"/>
				<xs:element name="other" type="rugbyActionOtherComplexType"/>

			</xs:choice>
			<xs:attributeGroup ref="commonAttributes"/>
		</xs:complexType>
-->	
<!--	<xs:complexType name="rugbyActionPlayComplexType">
		<xs:annotation>
			<xs:documentation>Any kind of on-court play indicated by play-type vocabulary.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="baseEventActionComplexType">
				<xs:sequence>
					<xs:element name="participant" type="rugbyActionParticipantComplexType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attributeGroup ref="eventStateRugby"/>
				<xs:attribute name="play-type" type="playType.Rugby" use="optional">
					<xs:annotation>
						<xs:documentation>The type of play.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="timeout-duration" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>The duration of the timeout.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="caller" use="optional">
					<xs:annotation>
						<xs:documentation>Who called the timeout, either team or official.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="team"/>
							<xs:enumeration value="official"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="caller-idref" type="xs:IDREF" use="optional">
					<xs:annotation>
						<xs:documentation>If caller is team, say, an idref pointer to the team element.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
-->
	<!--<xs:complexType name="rugbyActionSubstitutionComplexType">
			<xs:annotation>
				<xs:documentation>Substition of a person involved in a game. | Substitution of one person for another in a given position in a game. Not limited to players.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseEventActionComplexType">
					<xs:attributeGroup ref="eventStateRugby"/>
					<xs:attribute name="person-type" use="optional">
						<xs:annotation>
							<xs:documentation>What position the person beeing replaced held.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="player"/>
								<xs:enumeration value="associate"/>
								<xs:enumeration value="official"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="person-original-idref" type="xs:IDREF" use="optional">
						<xs:annotation>
							<xs:documentation>A pointer to the person beeing replaced.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="person-original-position" type="position.Rugby" use="optional">
						<xs:annotation>
							<xs:documentation>Position the replaced person held.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="person-replacing-idref" type="xs:IDREF" use="optional">
						<xs:annotation>
							<xs:documentation>A pointer to the person replacing.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="person-replacing-position" type="position.Rugby" use="optional">
						<xs:annotation>
							<xs:documentation>Position the substitute will take up.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="substitution-reason" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>Text explaining the reason for the substitute.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="substitution-type" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>Whether a normal or "blood" substitution</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="team-idref" type="xs:IDREF" use="optional">
						<xs:annotation>
							<xs:documentation>A pointer to the team doing the substitution.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
-->	
		<!--		<xs:complexType name="rugbyActionScoreAttemptComplexType">
			<xs:annotation>
				<xs:documentation>Only used if the attempt is not also a goal. | When a player attempts to score a goal but it does not result in a goal.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseEventActionComplexType">
					<xs:sequence>
						<xs:element name="participant" type="rugbyActionParticipantComplexType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attributeGroup ref="eventStateRugby"/>
					<xs:attribute name="score-attempt-type" type="scoreAttemptType.Rugby" use="optional">
						<xs:annotation>
							<xs:documentation>What type of attempt: penalty, drop, conversion.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="score-attempt-result" type="scoreAttemptResult.Rugby" use="optional">
						<xs:annotation>
							<xs:documentation>The result of the score attempt: missed, blocked, out-of-bounds.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
-->	
			<!--		<xs:complexType name="rugbyActionScoreComplexType">
			<xs:annotation>
				<xs:documentation>When a team scores a goal. | Records by whom, how and when a goal was scored and the standing after the goal.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseEventActionComplexType">
					<xs:sequence>
						<xs:element name="participant" type="rugbyActionParticipantComplexType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attributeGroup ref="eventStateRugby"/>
					<xs:attribute name="score-attempt-method" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>How the player attempted to score. Using head, left leg, right leg etc.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="score-attempt-type" type="scoreAttemptType.Rugby" use="optional">
						<xs:annotation>
							<xs:documentation>What type of attempt: penalty, drop, conversion.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="score-team" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>The current score for the scoring team after the score is counted.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="score-team-opposing" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>The current score for the opposing team after the score is counted.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="points" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>Number of points awarded: 2|3|5 </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
-->	
	
<!--		<xs:complexType name="rugbyActionPenaltyComplexType">
			<xs:annotation>
				<xs:documentation>Results from a foul. | Details of a penalty that a foul resulted in.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="baseEventActionComplexType">
					<xs:attributeGroup ref="eventStateRugby"/>
					<xs:attribute name="recipient-type" use="optional">
						<xs:annotation>
							<xs:documentation>What type of person or team that got the penalty.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="team"/>
								<xs:enumeration value="player"/>
								<xs:enumeration value="auxilliary"/>
								<xs:enumeration value="official"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="team-idref" type="xs:IDREF" use="optional">
						<xs:annotation>
							<xs:documentation>A pointer to the team of the penalized or the penalized team itself.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="recipient-idref" type="xs:IDREF" use="optional">
						<xs:annotation>
							<xs:documentation>idref pointer to the person suffering the penalty.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="caller-idref" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>idref pointing to who called the penalty.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="penalty-type" type="penaltyType.Rugby" use="optional">
						<xs:annotation>
							<xs:documentation>The type of penalty: offensive, defensive</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="penalty-level" type="penaltyLevel.Rugby" use="optional">
						<xs:annotation>
							<xs:documentation>The penalty level: yellow-card, red-card</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="caution-value" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>Used to indicate what value, if any, the penalty adds to the caution-total of the player.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
-->	
	
<!--		<xs:complexType name="rugbyActionOtherComplexType">
			<xs:annotation>
				<xs:documentation>A custom action. | For use when none of the pre-build actions apply.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="genericEventActionComplexType">
					<xs:attributeGroup ref="eventStateRugby"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	
	<xs:complexType name="rugbyActionParticipantComplexType">
		<xs:annotation>
			<xs:documentation>Describes which player was involved in the play and how. | The role and result attributes are critical.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="baseParticipantComplexType">
				<xs:attribute name="role" type="participantRole.Rugby" use="required">
					<xs:annotation>
						<xs:documentation>A controlled vocabulary specifying a player's role during the play.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

-->	<!-- ========================================================================================= -->
	<!--        Rugby attribute groups               -->	
	<!-- ========================================================================================= -->	
	
<!--Removed 2015-10-14 since all attributes are already in core schema event model
		
		
		<xs:attributeGroup name="eventStateRugby">
		<xs:attribute name="period-value" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Identifier for the period segment of a game. (1, 2 for first and second halfs, 3 for first overtime, etc.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="period-time-elapsed" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Detailed time MMSS that has elapsed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="minutes-elapsed" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Number of minutes that have elapsed since the beginning of the game.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="period-minute-elapsed" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The time elapsed, but only given as whole minutes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="period-time-remaining" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Detailed time in MMSS format showing remaining time of period.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
-->	
	
</xs:schema>
